# Created by .ignore support plugin (hsz.mobi)
.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_8.xml
.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_8.xml
src/main/java/com/learner/service/entityService/
src/main/resources/prod/
src/main/resources/test/
target/classes/com/learner/crawler/BTCCrawler$1.class
target/classes/com/learner/crawler/BTCCrawler.class
target/classes/com/learner/crawler/ChinaIpCrawler$1.class
target/classes/com/learner/crawler/ChinaIpCrawler$2.class
target/classes/com/learner/crawler/ChinaIpCrawler$3.class
target/classes/com/learner/crawler/ChinaIpCrawler.class
target/classes/com/learner/datenstrukturen/
target/classes/com/learner/service/baseService/BaseDao.class
target/generated-sources/
target/pyscala-common/META-INF/
target/pyscala-common/WEB-INF/classes/com/learner/crawler/BTCCrawler$1.class
target/pyscala-common/WEB-INF/classes/com/learner/crawler/BTCCrawler.class
target/pyscala-common/WEB-INF/classes/com/learner/crawler/ChinaIpCrawler$1.class
target/pyscala-common/WEB-INF/classes/com/learner/crawler/ChinaIpCrawler$2.class
target/pyscala-common/WEB-INF/classes/com/learner/crawler/ChinaIpCrawler$3.class
target/pyscala-common/WEB-INF/classes/com/learner/crawler/ChinaIpCrawler.class
target/pyscala-common/WEB-INF/classes/com/learner/datenstrukturen/
target/pyscala-common/WEB-INF/classes/com/learner/service/baseService/BaseDao.class
~/data/logs/log.log.2018-03-21
~/data/logs/log.log.2018-04-14
~/data/logs/log.log.2018-05-06
/src/main/java/com/learner/crawler/CuteCrawler.java
/src/main/java/com/learner/crawler/CuteCrawlerNew.java
.DS_Store
.idea/libraries/Maven__com_squareup_okhttp3_okhttp_3_6_0.xml
.idea/libraries/Maven__com_squareup_okio_okio_1_11_0.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
.idea/libraries/Maven__org_apache_poi_poi_3_15.xml
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/learner/.DS_Store
src/main/java/com/learner/util/.DS_Store
target/classes/com/learner/crawler/AmapCrawler$1$1.class
target/classes/com/learner/crawler/AmapCrawler$1.class
target/classes/com/learner/crawler/AmapCrawler.class
target/classes/com/learner/crawler/CuteCrawler$1.class
target/classes/com/learner/crawler/CuteCrawler$2.class
target/classes/com/learner/crawler/CuteCrawler$3.class
target/classes/com/learner/crawler/CuteCrawler.class
target/classes/com/learner/crawler/CuteCrawlerNew.class
target/classes/com/learner/crawler/MaimaiCrawler$1$1$1.class
target/classes/com/learner/crawler/MaimaiCrawler$1$1.class
target/classes/com/learner/crawler/MeituanCrawler$1.class
target/classes/com/learner/crawler/MeituanCrawler.class
target/classes/com/learner/crawler/ZhouheiyaCrawler$1.class
target/classes/com/learner/crawler/ZhouheiyaCrawler.class
target/classes/com/learner/util/TransCode.class
target/classes/com/learner/util/cute/
~/data/logs/error.log.2018-03-21
~/data/logs/error.log.2018-05-12
~/data/logs/error.log.2018-05-13
~/data/logs/log.log.2018-05-09
~/data/logs/log.log.2018-05-11
~/data/logs/log.log.2018-05-12
~/data/logs/log.log.2018-05-13
~/data/logs/log.log.2018-05-14
~/data/logs/log.log.2018-05-15
~/data/logs/log.log.2018-05-16
~/data/logs/log.log.2018-05-18
~/data/logs/log.log.2018-05-19
~/data/logs/log.log.2018-05-20
